{% extends "base.html" %}
{% block title %}Chess.org{% endblock %}
{% block metas %}
  <meta id="online" data-online="True" data-locked="{{ locked }}">
{% endblock %}
{% block links %}
<link rel="stylesheet" href="../static/styles/base.css">
<link rel="stylesheet" href="../static/styles/home.css">
{% endblock %}
{% block content %}
<div class="home-content">
  <div class="w-[20%] h-[60vh] bg-zinc-500 rounded-md shadow">
    <div class="h-[95%]"></div>
    <input type="text" class="min-h-5 w-full h-[5%] border-none p-0 pl-1 rounded" placeholder="Start typing..." id="chat-input">
  </div>
  <div class="w-[min(80vh,_75vw)] aspect-square grid grid-rows-8 grid-cols-8 bg-[rgba(69,_102,_186,_0.8)]" id="board"></div>
  <div class="info-box">
    
  </div>
</div>
<div class="play-as">
  <button id="playing-as-white" data-color="white" onclick="playAs(this.dataset.color)">Play as White</button>
  <button id="playing-as-black" data-color="black" onclick="playAs(this.dataset.color)">Play as Black</button>
</div>
{% endblock %}
{% block extrasScripts %}
<script src="../static/javascript/online.js"></script>
{% endblock %}