{% extends "base.html" %}
{% block title %}Chess.org{% endblock %}
{% block metas %}
  <meta id="online" data-online="True" data-locked="{{ locked }}">
{% endblock %}
{% block links %}
<link rel="stylesheet" href="../static/styles/base.css">
<link rel="stylesheet" href="../static/styles/home.css">
{% endblock %}
{% block content %}
<div class="home-content">
  <div class="chat">
    <div class="chat-history"></div>
    <input type="text" class="chatbox" placeholder="Start typing..." id="chat-input">
  </div>
  <div class="board" id="board"></div>
  <div class="info-box">
    
  </div>
</div>
<div class="play-as">
  <button id="playing-as-white" data-color="white" onclick="playAs(this.dataset.color)">Play as White</button>
  <button id="playing-as-black" data-color="black" onclick="playAs(this.dataset.color)">Play as Black</button>
</div>
{% endblock %}
{% block extrasScripts %}
<script src="../static/javascript/online.js"></script>
{% endblock %}