{% extends "base.html" %}
{% block title %}Sign up{% endblock %}
{% block links %}
<link rel="stylesheet" href="../static/styles/base.css">
<link rel="stylesheet" href="../static/styles/auth.css">
{% endblock %}
{% block content %}
  <div class="w-full h-[calc(100vh_-_56px)] bg-[hsl(0,_0%,_70%)]">
  <div class="block bg-gray-100 absolute top-1/2 left-1/2 -translate-x-1/2 translate-y-[calc(-50%_-_25px)] pt-4 pb-8 px-7 w-[500px] rounded-[10px]">
    <h2 class="text-center text-[1.8em] mb-[10px]">Sign Up</h2>
    <form method="POST">
      <fieldset>
        <label class="text-[1.2em]" for="email">E-mail:</label>
        <input id="email" name="email" type="email" class="email block w-full p-[10px] mb-[10px] outline-none border-[1.5px] border-gray-400 rounded" placeholder="Enter Email ..." required>
        <label class="text-[1.2em]" for="username">Username:</label>
        <input id="username" name="username" type="text" class="username block w-full p-[10px] mb-[10px] outline-none border-[1.5px] border-gray-400 rounded" placeholder="Enter Username ..." required>
        <label class="text-[1.2em]" for="password1">Password:</label>
        <input id="password1" name="password1" type="password" class="block w-full p-[10px] mb-[10px] outline-none border-[1.5px] border-gray-400 rounded" placeholder="Enter Password ..." required>
        <label class="text-[1.2em]" for="password2">Confirm Password:</label>
        <input id="password2" name="password2" type="password" class="block w-full p-[10px] mb-[10px] outline-none border-[1.5px] border-gray-400 rounded" placeholder="Confirm Password ..." required>
        <button type="submit" class="submit w-full h-10 border-none outline-none rounded mt-2 text-gray-100 bg-[hsl(0,_0%,_10%)] hover:bg-[hsl(0,_0%,_15%)] active:bg-[hsl(0,_0%,_20%)]">Login</button>
      </fieldset>
    </form>
  </div>
</div>
{% endblock %}